<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Document</title>
</head>

<body>
	<section>

		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Your Contact</h1>

				<!--Search Field-->

				<div class="search-container my-3">


					<input onkeyup="search()" id="search-input" type="text" class="form-control "
						placeholder="Search Your Contact" />

					<!--Result Body-->
					<div class="search-result">

					</div>


				</div>




				<div class="table-responsive">
					<table class="table">
						<thead class="table-primary">
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${contacts}">
								<th scope="row" th:text="'SCM2023_'+${c.cid}">1</th>
								<td>

									<img th:src="@{'/img/'+${c.image}}" class="my_profile_picture"
										alt="profile_photo" />

									<span th:text="${c.name}"></span>

								</td>

								<td>
									<a th:href="@{'/user/contact/' + ${c.cid}}">
										<span th:text="${c.email}"></span>
									</a>
								</td>

								<td th:text="${c.phone}"></td>

								<td>
									<a href="#" th:onclick="|deleteContact(${c.cid})|"
										class="btn btn-danger btn-sm">Delete</a>

									<form method="post" th:action="@{'/user/update-contact/'+${c.cid}}" class="mt-2">
										<button class="btn btn-primary btn-sm">Update</button>

									</form>


								<td>


								</td>

							</tr>
						</tbody>
					</table>

				</div>

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage!=0}" class="page-item"><a class="page-link"
								th:href="@{'/user/show-contact/'+${currentPage-1}}">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item">
							<a th:href="@{'/user/show-contact/'+${i-1}}" class="page-link" href="#"><span
									th:text="${i}"></span></a>
						</li>
						<li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link"
								th:href="@{'/user/show-contact/'+${currentPage+1}}">Next</a>
						</li>
					</ul>
				</nav>

			</div>


		</div>

		<script>
			$(document).ready(() => {
				$(".item").removeClass("active")
				$("#contacts-link").addClass("active text-white")
			});
		</script>



	</section>

</body>

</html>