<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>"Streamline your contacts like never before with our cutting-edge Smart Contact Manager App. Say goodbye
				to the hassle of searching for numbers and emails, and welcome an intelligent solution that organizes
				and updates your contacts automatically. Simplify your life and stay connected effortlessly with our
				user-friendly app."</p>
			<button class="btn bg-secondary-subtle btn-lg">Get Start</button>
		</div>

	</section>
</body>

</html>