<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Change Password Form</title>
</head>

<body>
	<section>
		<div id="login">
			<div class="container">


				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 240px;" class="col-md-12">


							<h3 class="mt-4 text-center">Enter New Password</h3>

							<div th:if="${session.message}" class="alert alert-danger">
								<p class="text-center" th:text="${session.message}"></p>

								<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							</div>


							<form th:action="@{/change-pasword}" method="post">
								<div class="form-group">
									<input name="newPassword" required="required" type="password"
										placeholder="Enter new password" class="form-control" />


								</div>

								<div class="container text-center mt-3">

									<button class="btn btn-primary">change Password</button>
								</div>



							</form>





						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>

</html>